body {
    font-family: Arial;
    font-size: 14px;
}

#frame {
    width: 505px;
    height: 505px;
}

button {
    margin: 20px;
    width: 200px;
}

.header{
  text-align: center;
}

.flex-container {
  
  display: flex;
  flex-direction: row;
  
}

.column {
  display: flex;
  flex-direction: column;

}

.point {
  fill: blueviolet;
  stroke: green;
  stroke-width: 0px;
}

.yes_border {
  fill: blueviolet;
  stroke: green;
  stroke-width: 5px;
}